@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.firstNationCard {
  width: 95vw;
  margin: auto;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px black solid;
  @include desktop {
    @include flex(_, center, _);
    width: 80vw;
  }
  &__img-box {
    width: 30%;
    display: none;
    @include desktop {
      display: block;
    }
    &--img {
      display: none;
      @include desktop {
        display: block;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 10px 13px -7px #000000,
          5px 5px 15px 5px rgba(0, 0, 0, 0);
      }
    }
    &--mobile {
      width: 80vw;
      @include tablet {
        width: 50vw;
        margin: auto;
      }
      @include desktop {
        display: none;
      }
    }
    &--img-mobile {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
      @include tablet {
        margin: auto;
      }
      @include desktop {
        display: none;
      }
    }
  }

  &__type {
    @include tablet {
      text-align: center;
    }
    @include desktop {
      text-align: left;
    }
  }
  &__location {
    @include tablet {
      text-align: center;
    }
    @include desktop {
      text-align: left;
    }
  }
  &__info {
    width: 90%;
    margin-left: 2rem;
    @include tablet {
      width: 90%;
    }
    &--title {
      @include tablet {
        text-align: center;
      }
      @include desktop {
        text-align: left;
      }
    }
    &--need {
      color: red;
    }
    &--surplus {
      color: green;
    }
  }
  &__donation-tag {
    &--in-need {
      background-color: pink;
      color: grey;
      margin: 0.3125rem;
      padding: 0.3125rem 0.625rem;
      border-radius: 5px;
      display: inline-block;
    }

    &--surplus {
      background-color: #d0f0c0;
      color: grey;
      margin: 0.3125rem;
      padding: 0.3125rem 0.625rem;
      border-radius: 5px;
      display: inline-block;
    }
  }
  &__learn-more-button {
    font-size: 0.8rem;
    &:hover {
      color: $primary-green;
      transform: scale(1.1);
    }
  }
  &__links {
    @include flex(space-between, center, _);
    margin-top: 2rem;
    &--website {
      color: black;
      font-size: 0.8rem;
      &:hover {
        color: $mint-blue;
        transform: scale(1.1);
      }
    }
    &--icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
