@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.featuredNPO {
  @include mobile {
    width: 95vw;
    text-align: center;
  }
  @include tablet {
    width: 80vw;
    margin: auto;
    margin-top: 10rem;
    text-align: left;
  }

  @include flex(center, center, _);
  margin-top: 12rem;
  &__info {
    @include mobile {
      width: 100%;
      margin: 0;
    }
    @include tablet {
      width: 50%;
      margin-right: 3rem;
    }
  }

  &__link-container {
    margin-top: 2rem;
  }

  &__img-box {
    @include mobile {
      display: none;
    }
    @include tablet {
      display: block;
    }
    width: 30rem;
    height: 25rem;
    &--img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      border-color: 2px solid red;
      object-fit: cover;
      @include img-card;
    }
    &--img-mobile {
      @include mobile {
        display: none;
      }
      @include tablet {
        display: block;
      }
    }
  }

  &__img-box-mobile {
    @include mobile {
      width: 95vw;
      border-radius: 20px;
    }
    @include tablet {
      display: none;
    }
    &--img {
      @include mobile {
        object-fit: cover;
        width: 100%;
        border-radius: 10px;
      }
      @include tablet {
        display: none;
      }
    }
  }
  &__learn-more-button {
    &:hover {
      color: $primary-green;
      transform: scale(1.2);
    }
  }
}
