@use "./mixins" as *;
@use "./colors" as *;

// * {
//   box-sizing: border-box;
// }

// h1,
// h2 {
//   @include font-bold;
// }

a {
  text-decoration: none;
  @include font-regular;
}
// a:hover {
//   color: $primary-green;
// }

ul {
  list-style-type: none;
}

li {
  @include font-regular;
}

:visited {
  color: black;
}

.button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.7rem 2rem;
  cursor: pointer;

  :visited {
    color: white;
  }
  :hover {
    color: $primary-green;
  }
}

p,
label {
  @include font-regular;
}

// label {
//   color: $mint-blue;
// }

input[type="file"] {
  display: none;
}

::placeholder {
  @include font-regular;
  font-size: 1rem;
  padding-left: 0.5rem;
}

textarea {
  @include font-regular;
  font-size: 1rem;
  @include input;
  height: 10rem;
}

input,
select {
  @include input;
}

nav {
  cursor: pointer;
}
