@use "variables" as *;

//RWD breakpoint
@mixin mobile {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

//flex box

@mixin flex($justify-content, $align-items, $flex-direction) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

//fonts

@mixin font-regular {
  font-family: "TitilliumWeb";
  font-weight: 300;
}

@mixin font-bold {
  font-family: "TitilliumWeb";
  font-weight: 600;
}

@mixin img-card {
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
  border-radius: 10px;
}

//upload image link & button
@mixin upload-img-link {
  cursor: pointer;
  border-bottom: 1px solid black;
  margin-right: 2rem;
}

@mixin upload-img-button {
  border: none;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

// @mixin post-shadow {
//   box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
//     50px 29px 0px -30px rgba(0, 0, 0, 0);
// }
