@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

// .submenu {
// }

.nav__submenu {
  display: none;
  padding-left: 0;
  background-color: rgb(255, 255, 255);
}

.nav__submenu-list {
  //margin-left: 0.5rem;
  padding: 0.2rem 0.5rem 0.5rem 0.8rem;
  &:hover {
    border-bottom: 2px solid black;
  }
  &--shelter {
    margin-top: 0.5rem;
  }
}

.submenu-hover {
  &:hover {
    color: $mint-blue;
  }
}
