@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.submenu {
}

.nav__submenu {
  display: none;
  padding-left: 0;
  background-color: rgb(255, 255, 255, 0.8);
}

.nav__submenu-list {
  &:hover {
    border-bottom: 2px solid black;
  }
  &--shelter {
    margin-top: 0.5rem;
  }
}

.submenu-hover {
  &:hover {
    color: $mint-blue;
  }
}
