@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.signupPage {
  @include mobile {
    width: 90vw;
    padding: 2rem 0;
    margin: auto;
    margin-top: 13rem;
    background-color: black;
  }
  @include tablet {
    width: 38rem;
  }
  &__heading {
    color: white;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    width: 7rem;
  }
}

.signup-form {
  text-align: left;

  &__group {
    @include mobile {
      @include flex(_, flex-start, column);
    }
    @include tablet {
      @include flex(_, _, row);
    }
  }

  &__field {
    width: 14rem;
    margin: auto;
    @include flex(_, flex-start, column);
    @include tablet {
      margin: auto;
    }
    &--website {
      @include tablet {
        margin: 0 0 0 2.5rem;
      }
    }
    &--description {
      @include tablet {
        margin: 0 0 0 2.5rem;
      }
    }
  }

  &__label {
    color: white;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
    margin-top: 1rem;
  }
  &__input {
    width: 14rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    &--description {
      @include mobile {
        width: 14rem;
        height: 10rem;
      }
      @include tablet {
        height: 8rem;
        width: 33rem;
      }
    }
  }
  &__button {
    border-radius: 25px;
    border: white 1px solid;
    background-color: black;
    color: white;
    padding: 0.6rem 3rem;
    margin: auto;
    margin-top: 2rem;
    width: 10rem;
    &:hover {
      color: $primary-green;
      border: $primary-green 1px solid;
    }
  }
  &__error {
    color: $primary-green;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
  }
  &__note {
    color: $primary-green;
    width: 90%;
    margin: auto;
    text-align: center;
    &--highlight {
      border-bottom: solid 2px white;
    }
  }
}
