@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.searchBar {
  width: 30rem;
  margin: auto;
  margin-bottom: 6rem;
  margin-top: -4rem;
}

.searchBar-form {
  position: relative;

  &__input {
    width: 30rem;
    margin: auto;
  }
}

.searchBar-icon {
  content: url("../../assets/icons/search-24px.svg");
  position: relative;
  top: 30px;
  // z-index: 1;
  right: -460px;
  cursor: pointer;
}
