@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.donationList-card {
  width: 40%;
  border: black 2px solid;
  border-radius: 15px;
  margin: 1rem;
  // @include img-card;

  &__inner {
    @include flex(_, center, row);
    padding: 1rem;
    // :hover {
    //   transform: scale(1.2);
    // }
  }
  &__buttons {
    @include flex(space-between, _, _);
  }
  &__delete-button {
    background-color: white;
    border: black 1px solid;
    width: 4rem;
    //border-radius: 15px;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__edit-button {
    background-color: black;
    border: 1px solid black;
    border: none;
    color: white;
    width: 4rem;
    padding: 0.2rem 0.6rem;
    //border-radius: 15px;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__image-box {
    // width: 30%;
    width: 10rem;
    margin: auto;
    &--image {
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
      @include img-card;
    }
  }
  &__info-box {
    // width: 65%;
    width: 20rem;
    margin-left: 1rem;
  }
  &__status-date {
    @include flex(space-between, center, _);
  }
  &__item {
    margin-bottom: 0;
  }
  &__date {
    // margin-bottom: 0;
    font-size: 0.9rem;
  }
}
