@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.detailPage {
  &__info {
    @include flex(_, center, column);
  }

  &__heading {
    width: 90vw;
    margin: auto;
    text-align: center;
  }

  &__image {
    width: 40vw;
    border-radius: 5px;
    margin-top: 4rem;
    @include img-card;
  }
  &__details {
    margin-top: 1rem;
    width: 38vw;
  }
  &__location-website {
    @include flex(space-between, center, _);
    width: 38vw;
    margin: auto;
    margin-top: 1rem;
    // &--location {
    //   width: 30%;
    // }
    &--website {
      margin-top: 0;
    }
  }
  &__external-link {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.detailPage-card {
  //border: red 1px solid;
  width: 80vw;
  margin: auto;
  @include flex(space-evenly, _, _);
  flex-wrap: wrap;

  &__group {
    @include flex(_, center, _);
    border: black 2px solid;
    border-radius: 10px;
    padding: 1rem;
    width: 40%;
    margin: 2rem 1rem 1rem 1rem;
  }
  &__image-box {
    width: 35%;
  }
  &__image {
    width: 100%;
    border-radius: 5px;
    @include img-card;
  }
  &__date-item {
    @include flex(space-between, center, _);
  }
  &__date {
    font-size: 0.8rem;
  }
  &__item {
    margin: 0;
  }
  &__status-in-need {
    @include in-need;
    @include font-regular;
  }
  &__status-surplus {
    @include surplus;
    @include font-regular;
  }
  &__info-body {
    width: 60%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
