@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.header-title {
  margin: auto;
  width: 50%;
  text-align: center;
}
.header-link {
  &:visited {
    color: black;
  }
}

.header {
  &__nav {
    margin-top: 3rem;
    // margin-bottom: 2rem;
  }
  &__nav-list {
    @include flex(center, _, _);
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 6rem;

    &--item {
      margin-left: 2rem;
      margin-right: 2rem;
      display: inline-block;
      position: relative;
      &:hover {
        .nav__submenu {
          display: block;
          width: 15rem;
        }
        // font-size: 1.2rem;
        border-bottom: 2px solid black;
      }
    }
  }

  .nav__submenu {
    display: none;
    position: absolute;
    width: 12rem;
  }
  // &__dropdown {
  //   &:hover {
  //     display: block;
  //   }
  // }
  &__dropdown-content {
    @include flex(center, _, column);
    //display: none;
  }
}
