@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.header-title {
  margin: auto;
  width: 90%;
  margin-top: 1.2rem;
  margin-bottom: -1.5rem;
  text-align: center;
  color: $mint-blue;
}
.header-link {
  &:visited {
    color: black;
  }
}

.header-hover {
  &:hover {
    color: $primary-green;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
  &__nav {
    margin-top: 3rem;
  }
  &__nav-list {
    @include flex(center, _, _);
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;

    &--item {
      margin-left: 2rem;
      margin-right: 2rem;
      display: inline-block;
      position: relative;
      &:hover {
        color: $mint-blue;
        .nav__submenu {
          display: block;
          width: 15rem;
        }
        border-bottom: 2px solid black;
      }
    }
  }

  .nav__submenu {
    display: none;
    position: absolute;
    width: 12rem;
  }
  &__dropdown-content {
    @include flex(center, _, column);
  }
}
