@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.NPOCategory {
  margin: auto;
  margin-top: 5rem;
  width: 80%;
  text-align: center;
  &__category {
    margin-top: 2rem;
    width: 60vw;
    margin: auto;
    @include flex(center, _, _);
    flex-wrap: wrap;
  }
  &__button {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    &:hover {
      color: $primary-green;
    }
    &--first-nation {
      &:hover {
        color: orange;
      }
    }
  }
}
