@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.donationList {
  @include flex(_, _, _);
  flex-wrap: wrap;
}

.donationList-card {
  border: 1px solid black;
  width: 10rem;
  margin: 2rem 1rem;
  border-radius: 5px;

  &__inner {
    width: 8rem;
    margin: auto;
    margin-bottom: 1rem;
  }

  &__in-need {
    background-color: pink;
  }
  &__surplus {
    background-color: #d0f0c0;
  }
}
