@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.edit-profile {
  @include tablet {
  }
  &__edit-title {
    text-align: center;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 12rem;
  }
  &__program-title {
    width: 80vw;
    margin: auto;
    text-align: center;
  }
  &__image-box {
    @include tablet {
      height: 40vh;
      width: 40vw;
      @include img-card;
    }
  }
  &__image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    @include img-card;
  }

  &__button-box {
    @include flex(center, center, _);
  }
  &__update-button {
    margin-top: 1.5rem;

    @include tablet {
      margin-top: 5rem;
    }
  }
  &__cancel-button {
    margin-top: 1.5rem;

    @include tablet {
      margin-top: 5rem;
    }
    padding: 0.7rem 2rem;
    background-color: white;
    border: black 1px solid;
    color: black;
    margin-right: 2rem;
    cursor: pointer;
  }
  &__image-upload {
    @include flex(space-evenly, _, _);
    margin-top: 1rem;
  }
  &__image-file {
    @include upload-img-link;
  }
  &__image-upload-button {
    @include upload-img-button;
  }
}

.edit-profile-body {
  width: 95vw;
  @include tablet {
    width: 90vw;
    margin: auto;
    margin-top: 2rem;
    @include flex(center, center, _);
  }

  &__image {
    @include tablet {
      @include flex(center, center, column);
      width: 50%;
    }
  }
  &__image-preview {
    text-align: center;
  }

  &__info {
    @include flex(_, _, column);

    @include tablet {
      @include flex(_, _, column);
      width: 50%;
    }
  }
  &__input {
    @include input;
    &--des {
      height: 10rem;
    }
  }
  &__label {
    margin-top: 1rem;
  }
}
