@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.edit-modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(228, 41%, 12%, 0.5);

  &__container {
    background-color: white;
    width: 60%;
    // height: 38rem;
    height: 80%;
    margin: auto;
    margin-top: 5rem;
    border-radius: 10px;
  }
  &__inner-container {
    padding: 2rem 0;
    width: 90%;
    margin: auto;
    object-fit: contain;
  }

  &__heading {
    margin-top: 0;
  }
  &__item-status {
    @include flex(space-between, _, _);
  }
  &__item {
    width: 48%;
  }

  &__status {
    width: 48%;
    &--select {
      height: 1.9rem;
    }
  }
  &__image-upload {
    margin-top: 1rem;
    @include flex(space-between, center, _);
  }
  &__choose-image {
    border-bottom: 2px solid black;
    cursor: pointer;
  }
  &__form {
    height: 100%;
  }
  &__form-group {
    @include flex(_, _, column);
  }

  &__preview-image-box {
    width: 10rem;
    height: 10rem;
    // object-fit: contain;
    // height: 30%;
    // width: 30%;
  }
  &__preview-info {
    @include flex(space-between, flex-start, _);
    margin-top: 1rem;
  }
  &__preview-label {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  &__preview-image {
    height: 100%;
    width: auto;
    border-radius: 5px;
    @include img-card;
    object-fit: contain;
  }
  &__upload-button {
    @include button;
  }
  &__more-info {
    width: 48%;
    &--input {
      height: 9.5rem;
      // height: 50%;
    }
  }
  // &__preview-upload {
  //   width: 40vw;
  //   height: 10vw;
  // }
  &__buttons {
    margin-top: 2rem;
    @include flex(space-between, _, _);
    &--cancel {
      @include cancel-button;
    }
    &--update {
      @include button;
    }
  }
}
