@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.donation-page {
  margin-top: 13rem;
  &__profile {
    @include flex(center, center, _);
    width: 80vw;
    margin: auto;
  }
  &__img-box {
    width: 40vw;
    &--img {
      width: 40vw;
      object-fit: cover;
      @include img-card;
    }
  }
  &__profile-info {
    margin-left: 6rem;
  }
  &__new-post {
    width: 45vw;
    margin: auto;
  }
  &__title {
    text-align: center;
    margin-top: 6rem;
  }
  &__form-div {
    @include flex(_, _, column);
  }
  &__item-status {
    @include flex(space-between, _, _);
  }
  &__item {
    width: 48%;
  }
  &__item-input {
    @include input;
  }
  &__status {
    width: 48%;
  }
  &__status-select {
    @include input;
    height: 1.9rem;
  }
  &__image-upload {
    @include flex(space-between, center, _);
  }

  &__choose-image {
    border-bottom: 2px solid black;
    cursor: pointer;
  }

  &__upload-button {
    @include button;
    color: $primary-green;
    margin-top: 1rem;
  }
  // &__preview-title {
  //   color: $mint-blue;
  // }
  &__preview-image-box {
    height: 30vh;
  }
  &__preview-image {
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
    @include img-card;
  }
  &__info-label {
    margin-top: 1rem;
  }
  &__info-input {
    padding-bottom: 10rem;
    @include input;
  }

  &__buttons {
    @include flex(space-between, center, _);
    margin-top: 1rem;
  }

  &__cancel-button {
    @include button;
    background-color: white;
    color: black;
    border: 1px solid black;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__create-button {
    //width: 20%;
    //margin: auto;
    //margin-top: 1rem;
    @include button;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__link-box {
    @include flex(flex-end, _, _);
  }
  &__edit-link {
    color: $mint-blue;
    border-bottom: 2px solid black;
    margin-right: 1rem;

    &:visited {
      color: $mint-blue;
    }
    &:hover {
      transform: scale(1.2);

      // color: $primary-green;
      // border-bottom: 2px solid $primary-green;
    }
  }
}
